asciitree==0.3.3
attrs==25.3.0
cdsapi==0.7.6
certifi==2025.7.14
charset-normalizer==3.4.2
dotenv==0.9.9
ecmwf-api-client==1.6.5
ecmwf-datastores-client==0.2.0
fasteners==0.19
idna==3.10
multiurl==0.3.5
numcodecs==0.16.1
numpy==2.3.1
packaging==25.0
pandas==2.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
six==1.17.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
xarray==2024.6.0
zarr==2.18.2
