aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
attrs==25.3.0
cachetools==5.5.2
cdsapi==0.7.6
certifi==2025.7.9
cffi==1.17.1
cfgrib==0.9.15.0
cftime==1.6.4.post1
charset-normalizer==3.4.2
click==8.2.1
crc32c==2.7.1
decorator==5.2.1
donfig==0.8.1.post1
eccodes==2.42.0
ecmwf-datastores-client==0.2.0
ecmwf-opendata==0.3.22
findlibs==0.1.1
frozenlist==1.7.0
fsspec==2025.7.0
gcsfs==2025.7.0
google-api-core==2.25.1
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
h5py==3.14.0
idna==3.10
multidict==6.6.3
multiurl==0.3.5
netCDF4==1.7.2
numcodecs==0.16.1
numpy==2.3.1
oauthlib==3.3.1
packaging==25.0
pandas==2.3.1
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.31.1
pvlib==0.13.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
ruff==0.12.3
scipy==1.16.0
six==1.17.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
xarray==2025.7.1
yarl==1.20.1
zarr==3.1.0
